<div class="row  mx-0 w-100 m-5">
    <div class="col-md-8   mx-auto  p-5 shadow " [formGroup]="editCompanyForm">
        <div class="d-flex align-items-center justify-content-between  ">
            <span class="font-weight-bold col-md-2 mr-4">Brands *</span>
            <select name="" id="" class="select-brand" formControlName="brandId">
                <option *ngFor="let brand of brandList" [value]="brand.brandId">{{brand.name}}</option>
            </select>
        </div>
        <div class="row mt-5">
            <div class="col-12 px-3">
                <label for="">Compaign name *</label>
                <input type="text" class="form-control" formControlName="campaignName" placeholder="name">

            </div>
        </div>
        <div class="mt-5">
           <h6>Media *</h6>
        </div>
        <div class=" row mx-0">
            <ng-container *ngFor="let media of mediaList;let i=index">
                <div class="col-md-6 col-12 p-0">
                    
                <div class="media">
                    <div class="d-flex align-items-center">
                      <mat-checkbox class="d-flex align-items-center" [checked]="checkedMedia(media.mediaId)"></mat-checkbox>
                      <span>{{media.name}}</span>
                    </div>
                </div>
            </div>
            </ng-container>
        </div>
        
         <div class=" row mx-0 mt-5">
            <div class="col-12 px-0">
                <label for="">Deadline for Decision *</label>
                <div class="input-group"><input type="date" formControlName="submittedDate" class="form-control"></div>
            </div>
    </div>
</div>